html lang="en-US"
head
  meta charset="utf-8"
  meta name="viewport" content="width=device-width"
  title include(input.title)
body
  header
    div.title include(input.title)
    nav.menu
      a href="/" -- Home
  div.content
    include(input.content)