site-layout
  @title -- Home
  @content
    section
      h2 -- Hello!
      p -- testing
    section
      h2 -- Components
      click-count
      post content="doot"
      post content="Shoop"
      post content="loop"
